/* Login.module.css */

.login-background {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url("https://source.unsplash.com/featured/?office") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.btn-primary:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.form-link {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.form-link:hover {
  text-decoration: underline;
}

/* Additional styles for error message */
.error-message {
  margin-top: 15px;
  color: #e74c3c;
  font-size: 16px;
}

select{
  margin-left: 30px;
}

/* ToastContainer styles */
